body{
color:#434455;
font-family: 'Roboto', sans-serif;
background: #FFFFFF;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.main-page{

}
.page-nav{
}
.design-logo{
    color:  #2E2F42;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-list{
    color: #2E2F42;
}
.menu-item{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.menu-list-item:hover,
.menu-list-item:focus{
    color: #404BBF;
}
.menu-list-item{
    color: #2E2F42;
}
.menu-navigation-studio:active{
  text-decoration: underline;  
}

.menu address{
}
.page-address{
   
}
.menu-addres-list-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.hero{
background:#2e2f42;
}

.hero-text{
    color: #FFF;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em; 
}
.hero-button{
    cursor: pointer;
background:#4D5AE5;
}
.hero-button:hover,
.hero-button:focus{
background: #404BBF;
}

.hero-button-text{
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.sect-advans{
 
   
}
.advans-lists{
 
}
.sect-advans-blocks{
font-size: 40px;
}
.advans-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}
.advans-description{
    color:#434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.sect-team{
flex-shrink: 0;
}
.sect-team-litle{
    color: #2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.sect-team-list{
  
}
.sect-team-blocks{

}
.team-foto{
}
.team-name{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.team-profess-description{
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.porfolio-page{
    flex-shrink: 0;
    background: #FFF;
}
.porfolio-title{
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-list{
}
.porfolio-blocks{
 
}
.portfolio-link{
color: #2E2F42;

}
.portfolio-link:hover,
.portfolio-link:focus{
color: #2E2F42;  
}
.portfolio-name{
    color: #2E2F42;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.porfolio-img{
}
.footer-list{
flex-shrink: 0;
background:#2e2f42;
flex-shrink: 0;
}
.name-page{
    color:  #2E2F42;
    font-size: 18px;
    line-height: 1.16; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}